<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>View Thread</title>
    <!--<link rel="stylesheet" type="text/css" th:href="@{/css/registration.css}" />-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <div class="row" th:object="${mail}" th:if="${mail != null}">
        <div class="col-md-6 col-md-offset-3">
            <div th:each="thread : *{threads}" >
                <p th:text="${thread.timestamp}"></p>
                <p th:text="${thread.body}"></p>
                <div th:each="attachment,iter: ${thread.attachmentList}">
                    <a th:href="${attachment.id.url}">
                        <span>Attachment</span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="row" th:if="${successMessage == null}">
        <div class="col-md-6 col-md-offset-3">
            <form autocomplete="off" action="#" th:action="@{|/mail/${thread.mailId}|}"
                  th:object="${thread}" method="post" class="form-horizontal"
                  role="form">
                <h4>Reply</h4>

                <div class="form-group">
                    <div class="col-sm-9">
                        <textarea rows="4" cols="50" th:field="*{body}" placeholder="Email Body"
                                  class="form-control" >
                        </textarea>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-9">
                        <input type="text" th:field="*{recipients}" placeholder="Comma separated recipients"
                               class="form-control" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-9">
                        <input type="text" th:field="*{attachments}" placeholder="Comma separated attachment URLs"
                               class="form-control" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-9">
                        <button type="submit" class="btn btn-primary btn-block">Send email</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
    <div class="row" th:if="${successMessage != null}">
        <span th:utext="${successMessage}"></span>
        <div class="col-sm-9" th:object="${thread}">
            <a th:href="@{|/mail/${thread.mailId}|}">
                <button class="btn btn-primary btn-block">See Composed Email</button>
            </a>
        </div>
    </div>
</div>

</body>
</html>
