<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>View Thread</title>
    <!--<link rel="stylesheet" type="text/css" th:href="@{/css/registration.css}" />-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <div class="row" th:object="${thread}">
        <div class="col-md-6 col-md-offset-3">
            <div th:text="*{timestamp}" ></div>
            <div th:text="*{body}" ></div>
        </div>
    </div>
</div>

</body>
</html>
