<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>View Thread</title>
    <!--<link rel="stylesheet" type="text/css" th:href="@{/css/registration.css}" />-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-sm-9">
            <a th:href="@{|/mails/user/${userId}|}">
                <button class="btn btn-primary btn-block">All emails</button>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-9">
            <a th:href="@{|/inbox/user/${userId}|}">
                <button class="btn btn-primary btn-block">Inbox</button>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-9">
            <a th:href="@{|/sent/user/${userId}|}">
                <button class="btn btn-primary btn-block">Sent</button>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-9">
            <a th:href="@{|/trash/user/${userId}|}">
                <button class="btn btn-primary btn-block">Trash</button>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-9">
            <a th:href="@{/compose}" target="_blank">
                <button class="btn btn-primary btn-block">Compose</button>
            </a>
        </div>
    </div>
    <div class="row" th:each="mail : ${mails}">
        <div class="col-md-6 col-md-offset-3">
            <a th:href="@{|/mail/${mail.mailId}|}" target="_blank">
                <p th:text="${mail.subject}"></p>
            </a>
            <p th:text="${mail.timestamp}"></p>
            <form autocomplete="off" action="#" th:action="@{|/trash/${mail.mailId}|}"
                  method="post" class="form-horizontal" role="form">

                <div class="form-group" th:if="${mail.deleted == false}">
                    <div class="col-sm-9">
                        <button type="submit" class="btn btn-primary btn-block">Move to Trash</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>
